.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.prefilled {
    color: blue;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

  /* display size options when button is hovered */
  .puzzle-size-dropdown:hover .puzzle-size-contents {
    display: block;
    background-color:rgba(139, 177, 131, 0.1)
}

  /* change background color of highlighted sizes */
  .puzzle-size-dropdown a:hover{
    background-color:rgb(208, 207, 207);
}
  /* style the size options text */
  .puzzle-size-dropdown a{
      display: block;
      color: black;
      text-decoration: none;
      padding: 10px 10px;
      font-size: 18px;
  }
  
  /* format div containing the size options */
  .puzzle-size-contents{
      display: none;
      position: absolute;
      background-color: rgb(175, 163, 163);
      min-width: 200px;
      box-shadow: 0px 8px 16px;
      border-radius: 5px;
  }
  
#game-board {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#status-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px; /* Add space between the buttons */
    justify-content: center; /* Center-aligns buttons within the container */
    margin-top: 20px; /* Adds some space above the buttons */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #83a481;
}


#timer {
    font-size: 2.5em; /* Increase the font size */
    text-align: center; /* Center the text */
    margin: 20px auto; /* Add some margin */
    padding: 10px; /* Add padding */
    width: 200px; /* Set a width to help center */
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Round the corners */
    background-color: #f0f0f0; /* Light background color */
    color: #333; /* Text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#check-puzzle-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#check-puzzle-btn:hover {
    background-color: #4caf49;
}

#restart-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #4caf49;
}


.cell:hover {
    background-color: #e0e0e0;
}

.winner, .winner:hover {
    background-color: #7fff00;
}


