.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.prefilled {
    color: blue;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#status-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px; /* Add space between the buttons */
    justify-content: center; /* Center-aligns buttons within the container */
    margin-top: 20px; /* Adds some space above the buttons */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4caf49;
}

#check-puzzle-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#check-puzzle-btn:hover {
    background-color: #4caf49;
}

#restart-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #4caf49;
}

.cell:hover {
    background-color: #e0e0e0;
}

.winner, .winner:hover {
    background-color: #7fff00;
}
